@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($str) {
  -webkit-transform: #{$str};
  -moz-transform: #{$str};
  -ms-transform: #{$str};
  -o-transform: #{$str};
  transform: #{$str}; 
}

@mixin borderRadius($str) {
  -webkit-border-radius: #{$str};
  -moz-border-radius: #{$str};
  -ms-border-radius: #{$str};
  -o-border-radius: #{$str};
  border-radius: #{$str};
}