@import "./fonts.scss";
@import "./keyframes.scss";

/* Breakpoints */
$bp-xsmall: 36rem; // 576px
$bp-small: 48rem; // 768px
$bp-medium: 64rem; // 1024px
$bp-large: 85.375rem; // 1366px
$bp-xlarge: 120rem; // 1920px
$bp-xxlarge: 160rem; // 2560px

/* Media Queries */
$mq-xsmall: "(max-width: #{$bp-xsmall})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

/* Font-Size */
$base-font-size: 1em;

/* Line-Height */
$base-line-height: 1.5;
$header-line-height: 1.25;

/* Variables */
:root {
  --main-color: #171717;
  --seconday-color: #5ae1b4;
  --white-text-color: #dcdcdc;
}

/* General */
* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  margin: 0;
  position: relative;
  font-size: $base-font-size;
  line-height: $base-line-height;
  overflow-x: hidden;
  position: initial;
  
  @media #{$mq-medium} {
    font-size: $base-font-size * 1.2;
    line-height: $base-line-height * 1.2;
  }

  @media #{$mq-large} {
    font-size: $base-font-size * 1.3;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size * 1.4;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size * 1.6;
  }
}

.d_none {
  display: none !important;
}

.d_flex {
  display: flex !important;
}

.myx_auto {
  margin: auto;
}

/* Background */
.bg_section {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: hidden;
}

.bg_white_vertical_line {
  position: absolute;
  top: -100px;
  width: 1px;
  height: 100px;
  background-color: #969696;
  animation: white_line_bg_bolt 30s linear infinite forwards;
  -webkit-animation: white_line_bg_bolt 30s linear infinite forwards;
}

.bg_vertical_line {
  width: 12.5%;
  height: 100%;
  border-right: solid 0.5px #53535333;
}

/* Background menu */
#bg_menu {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: var(--main-color);
  z-index: 1;

  @media #{$mq-small} {
    flex-direction: row;
  }
}

.bg_menu_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  p {
    font-family: "Domaine Display Narrow Black";
    text-transform: uppercase;
    color: #242424b8;
    font-size: 20vw;
    letter-spacing: 0.2em;
    transform: translateX(0.08em);
    -webkit-transform: translateX(0.08em);
    -moz-transform: translateX(0.08em);
    -ms-transform: translateX(0.08em);
    -o-transform: translateX(0.08em);
    @media #{$mq-small} {
      font-size: 14rem;
    }
  }
}

.bg_link_option {
  display: inline;
  font-family: 'Proxima Nova Bl';
  font-size: 1.5em;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  overflow: hidden;
  background-image: linear-gradient(to right, white, white 50%, #7d7b80 50%);
  background-size: 200% 100%;
  background-position: 100%;
  text-align: center;

  &:hover {
    white-space: nowrap;
    transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    background-position: 0%;
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    -moz-transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    -ms-transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    -o-transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  }

  &::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 100%;
    top: 50%;
    margin-top: 0;
    right: 1px;
    background: var(--seconday-color);
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
  }

  &:hover {
    &::after {
      transform: translate3d(110%, 0, 0);
      -webkit-transform: translate3d(110%, 0, 0);
      -moz-transform: translate3d(110%, 0, 0);
      -ms-transform: translate3d(110%, 0, 0);
      -o-transform: translate3d(110%, 0, 0);
    }

    &::before {
      width: 100%;
    }
  }
}

.vertical_divider {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 25%;
  line-height: 25vh;
  border-bottom: solid 0.5px #535353;

  @media #{$mq-small} {
    width: 25%;
    height: 100%;
    border-right: solid 0.5px #535353;
    line-height: 100vh;
  }
}

.vertical_divider:last-of-type {
  border-bottom: none !important;

  @media #{$mq-small} {
    border-right: none !important;
  }
}

.active_hover_about {
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);

  @media #{$mq-small} {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
  }
}

.active_hover_projects {
  transform: translate3d(0, 200%, 0);
  -webkit-transform: translate3d(0, 200%, 0);
  -moz-transform: translate3d(0, 200%, 0);
  -ms-transform: translate3d(0, 200%, 0);
  -o-transform: translate3d(0, 200%, 0);

  @media #{$mq-small} {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
    -moz-transform: translate3d(200%, 0, 0);
    -ms-transform: translate3d(200%, 0, 0);
    -o-transform: translate3d(200%, 0, 0);
  }
}

.active_hover_contact {
  transform: translate3d(0, 300%, 0);
  -webkit-transform: translate3d(0, 300%, 0);
  -moz-transform: translate3d(0, 300%, 0);
  -ms-transform: translate3d(0, 300%, 0);
  -o-transform: translate3d(0, 300%, 0);

  @media #{$mq-small} {
    -webkit-transform: translate3d(300%, 0, 0);
    transform: translate3d(300%, 0, 0);
    -moz-transform: translate3d(300%, 0, 0);
    -ms-transform: translate3d(300%, 0, 0);
    -o-transform: translate3d(300%, 0, 0);
  }
}

.bg_option_selected {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
}

#bg_menu_selected {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 25%;
  margin: 0 0 0;
  background: #111;
  box-shadow: 0 0 50px 10px #000, 0 0 50px #000;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;

  @media #{$mq-small} {
    width: 25%;
    height: 100%;
  }
}

/* Background menu transition */
#transition_menu{
    z-index: 2;
}

.transition_color {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    bottom: auto;
    background: var(--seconday-color);;
    z-index: 2;
    -webkit-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    -moz-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    -ms-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    -o-transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);

    &.active {
        right: 100%;
    }
}

.transition_color_2 {
    background: #222222;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/* Content */
.content {
  max-width: $bp-large;
  position: relative;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  position: fixed;
  width: 100%;
  max-width: $bp-large;
  height: 6rem;
  z-index: 2;

  > div {
    margin: auto 3rem;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    margin: auto 0;
  }

  a > .logo {
    width: 40px;

    @media #{$mq-small} {
      width: 50px;
    }
  }
}

/* Menu icon */
.menu {
  display: inline-block;
  cursor: pointer;
  padding: 10px 0;
  position: relative;

  div {
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    background-color: #dcdcdc;
    position: relative;
    -webkit-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -ms-transition: 0.4s all ease;

    @media #{$mq-small} {
      width: 35px;
    }

    &:last-child {
      width: 13px;
      margin-left: auto;

      @media #{$mq-small} {
        width: 22px;
      }
    }
  }

  &:hover div {
    &.line_1 {
      width: 20px;
      -webkit-transform: translateY(6px) rotate(90deg);
      transform: translateY(6px) rotate(90deg);
      -moz-transform: translateY(6px) rotate(90deg);
      -ms-transform: translateY(6px) rotate(90deg);
      -o-transform: translateY(6px) rotate(90deg);

      @media #{$mq-small} {
        width: 30px;
      }
    }

    &.line_2 {
      width: 20px;

      @media #{$mq-small} {
        width: 30px;
      }
    }

    &.line_3 {
      width: 0;
    }
  }
}

.hover_line_1 {
  transform: translate(0, 7px) rotate(135deg);
  -webkit-transform: translate(0, 7px) rotate(135deg);
  -moz-transform: translate(0, 7px) rotate(135deg);
  -ms-transform: translate(0, 7px) rotate(135deg);
  -o-transform: translate(0, 7px) rotate(135deg);
}

.hover_line_2 {
  transform: rotate(45deg);
  width: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);

  @media #{$mq-small} {
    width: 30px;
  }
}

.menu:hover {
  .hover_line_1 {
    width: 25px !important;
    transform: translate(0, 7px) rotate(135deg) !important;
    -webkit-transform: translate(0, 7px) rotate(135deg) !important;
    -moz-transform: translate(0, 7px) rotate(135deg) !important;
    -ms-transform: translate(0, 7px) rotate(135deg) !important;
    -o-transform: translate(0, 7px) rotate(135deg) !important;

    @media #{$mq-small} {
      width: 35px !important;
    }
  }

  .hover_line_2 {
    width: 25px !important;
    
    @media #{$mq-small} {
      width: 35px !important;
    }
  }
}

main {
  display: flex;
  height: 100%;
  width: 100%;
}

//! HOME

.home_left_section {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media #{$mq-small} {
    width: 50%;
  }

  > div {
    margin: auto 1.5rem;

    @media #{$mq-small} {
      margin: auto 0 auto 3rem;
    }
  }
}

.home_right_section {
  width: 50%;
  display: none;
  flex-direction: column;
  position: relative;

  @media #{$mq-small} {
    display: flex;
  }
}

#typewritter_text {
  color: #505050;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Proxima Nova Bl';
  height: 50px;

  @media #{$mq-small} {
    font-size: 1.5rem;
  }
}

.typewritter_underscore {
  width: .8rem;
  height: 2px;
  background: var(--seconday-color);
  margin-top: 1.5rem;
  transition: all 0.3s;
  margin-left: 3px;
  -webkit-animation: cursorEffect 800ms infinite;
  animation: cursorEffect 800ms infinite;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;

  @media #{$mq-small} {
    margin-top: 1.8rem;
    width: 1rem;
  }
}

.home_presentation {
  font-family: "Domaine Display Narrow Black";
  font-size: 2.5rem;
  color: var(--white-text-color);
  line-height: 3rem;
  margin: 0;
}

.home_description {
  font-weight: 100;
  font-size: 1rem;
  color: var(--white-text-color);;
  font-family: "Proxima Nova Th";
  margin-bottom: .5rem;
}

.main_link {
  font-family: "Proxima Nova Rg";
  font-weight: 700;
  color: var(--seconday-color);
  font-size: 1rem;
  cursor: pointer;

  >i{
    vertical-align: middle;
    width: 25px;
    text-align: center;
  }

  &:hover i {
    -webkit-animation: hover_arrow 500ms infinite alternate;
    animation: hover_arrow 500ms infinite alternate;
  }
}

.home_parallax {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.div_element_parallax {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  display: flex;
  
  &:nth-child(1) .img_element_parallax {
    background: no-repeat url("/images/parallax/element (1).svg");
    position: relative;
    width: inherit;
    height: 50%;
    background-position: center;
    margin-top: 50vh;
    transform: translateY(-50%);
  }

  &:nth-child(2) .img_element_parallax {
    background: no-repeat url("/images/parallax/element (2).svg");
    position: relative;
    width: inherit;
    height: 50%;
    background-position: center;
    margin-top: 50vh;
    transform: translateY(-50%);
  }

  &:nth-child(3) .img_element_parallax {
    background: no-repeat url("/images/parallax/element (3).svg");
    position: relative;
    width: inherit;
    height: 50%;
    background-position: center;
    margin-top: 50vh;
    transform: translateY(-50%);
  }

  &:nth-child(4) .img_element_parallax {
    background: no-repeat url('/images/parallax/character.svg');
    position: relative;
    width: 60%;
    height: inherit;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 50vh auto 0;
  }

  &:nth-child(5) .img_element_parallax {
    background: no-repeat url("/images/parallax/element (4).svg");
    position: relative;
    width: inherit;
    height: 8%;
    background-position: center;
    margin-top: 50vh;
    transform: translateY(-50%);
    top: 20%;
    left: -10%;
  }
}

//! ABOUT

.about_content {
  width: 100%;
  margin: 12rem 3rem;
  display: flex;
}

.about_title {
  text-transform: uppercase;
  font-family: "Domaine Display Narrow Black";
  font-size: 3rem;
  color: var(--white-text-color);
}

.about_left_section {
  width: 20rem;
}

.about_right_section {
  width: 65%;
  color: #8b8b8b;
  font-size: 1.2rem;
  font-family: "Proxima Nova Rg";
  font-weight: 200;
  margin-top: .8rem;

  h3 {
    color: var(--white-text-color);
    font-family: "Domaine Display Narrow Black";
    font-size: 1.2rem;
    margin: 0;
    position: relative;

    i {
      position: absolute;
      left: -15px;
      top: 2px;
    }
  }
}

.about_description_text {
  font-size: 1rem;
}

.about_grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
  
.about_grid1 { grid-area: 1 / 1 / 3 / 2; }
.about_grid2 { grid-area: 1 / 3 / 3 / 4; }
.about_grid3 { grid-area: 1 / 2 / 3 / 3; }
.about_grid4 { grid-area: 3 / 3 / 5 / 4; }
.about_grid5 { grid-area: 3 / 2 / 5 / 3; }
.about_grid6 { grid-area: 3 / 1 / 5 / 2; }