@import "./mixins.scss";
@import "./fonts.scss";
@import "./keyframes.scss";

/* Breakpoints */
$bp-xsmall: 36rem; // 576px
$bp-small: 48rem; // 768px
$bp-medium: 64rem; // 1024px
$bp-large: 85.375rem; // 1366px
$bp-xlarge: 120rem; // 1920px
$bp-xxlarge: 160rem; // 2560px

/* Media Queries */
$mq-xsmall: "(max-width: #{$bp-xsmall})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

/* Font-Size */
$base-font-size: 1em;

/* Line-Height */
$base-line-height: 1.5;
$header-line-height: 1.25;

/* Variables */
:root {
  --main-color: #171717;
  --seconday-color: #5ae1b4;
  --white-text-color: #dcdcdc;
  --bg-text-menu: #242424b8;
  --banner-color: #111;
  --banner-shadow-color: #0000006e;
}

/* General */
* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: var(--main-color);
  margin: 0;
  position: relative;
  font-size: $base-font-size;
  line-height: $base-line-height;
  @include transition(all, 200ms, ease-in-out);
  transition-property: color, background-color;

  @media #{$mq-medium} {
    font-size: $base-font-size * 1.2;
    line-height: $base-line-height * 1.2;
  }

  @media #{$mq-large} {
    font-size: $base-font-size * 1.3;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size * 1.4;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size * 1.6;
  }
}

.d_none {
  display: none !important;
}

.d_flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.myx_auto {
  margin: auto;
}

.h-fit {
  height: fit-content;
}

.overflow_hidden {
  overflow: hidden;
}

/* Background */
.bg_section {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: hidden;
}

.bg_white_vertical_line {
  position: absolute;
  top: -100px;
  width: 1px;
  height: 100px;
  background-color: #969696;
  @include animation('30s white_line_bg_bolt linear infinite forwards');
  
  &.about {
    @include animation('120s, white_line_bg_bolt, linear, forwards, infinite');
  }
}

.bg_vertical_line {
  width: 12.5%;
  height: 100%;
  border-right: solid 0.5px #53535333;
}

/* Background menu */
#bg_menu {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: var(--main-color);
  z-index: 1;

  @media #{$mq-small} {
    flex-direction: row;
  }
}

.bg_menu_text {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform('translate(-50%, -50%)');

  p {
    font-family: "Domaine Display Narrow Black";
    text-transform: uppercase;
    color: var(--bg-text-menu);
    font-size: 20vw;
    letter-spacing: 0.2em;
    @include transform('translateX(0.08em)');

    @media #{$mq-small} {
      font-size: 14rem;
    }
  }
}

.bg_link_option {
  display: inline;
  font-family: "Proxima Nova Bl";
  font-size: 1.5em;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  overflow: hidden;
  background-image: linear-gradient(to right, white, white 50%, #7d7b80 50%);
  background-size: 200% 100%;
  background-position: 100%;
  text-align: center;

  &:hover {
    white-space: nowrap;
    @include transition(all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53));
}

  &::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 100%;
    top: 50%;
    margin-top: 0;
    right: 1px;
    background: var(--seconday-color);
    @include transition(transform 0.4s cubic-bezier(0.7, 0, 0.3, 1));
    @include transform('translate3d(-100%, 0, 0)');
}

  &:hover {
    &::after {
      @include transform('translate3d(110%, 0, 0)');
    }

    &::before {
      width: 100%;
    }
  }
}

.vertical_divider {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 25%;
  line-height: 25vh;
  border-bottom: solid 0.5px #535353;

  @media #{$mq-small} {
    width: 25%;
    height: 100%;
    border-right: solid 0.5px #535353;
    line-height: 100vh;
    border-bottom: none;
  }
}

.vertical_divider:last-of-type {
  border-bottom: none !important;

  @media #{$mq-small} {
    border-right: none !important;
  }
}

.active_hover_about {
  @include transform('translate3d(0, 100%, 0)');

  @media #{$mq-small} {
    @include transform('translate3d(100%, 0, 0)');
  }
}

.active_hover_projects {
  @include transform('translate3d(0, 200%, 0)');

  @media #{$mq-small} {
    @include transform('translate3d(200%, 0, 0)');
  }
}

.active_hover_contact {
  @include transform('translate3d(0, 300%, 0)');

  @media #{$mq-small} {
    @include transform('translate3d(300%, 0, 0)');
  }
}

.bg_option_selected {
  @include transform('translateZ(0)');
}

#bg_menu_selected {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 25%;
  margin: 0 0 0;
  background: var(--banner-color);
  box-shadow: 0 0 50px 10px var(--banner-shadow-color), 0 0 50px var(--banner-shadow-color);
  @include transition(0.4s ease-out);

  @media #{$mq-small} {
    width: 25%;
    height: 100%;
  }
}

/* Background menu transition */
#transition_menu {
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.transition_color {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  bottom: auto;
  background: var(--seconday-color);
  z-index: 2;
  @include transition(0.9s all 0s cubic-bezier(0.6, 0.05, 0.4, 1));

  &.active {
    right: 100%;
  }
}

.transition_color_2 {
  z-index: 2;
  background: #222222;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* Content */
.content {
  max-width: $bp-large;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  position: fixed;
  width: 100%;
  max-width: $bp-large;
  height: 6rem;
  z-index: 4;

  > div {
    margin: auto 3rem;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    margin: auto 0;
  }

  a > .logo {
    width: 40px;

    @media #{$mq-small} {
      width: 50px;
    }
  }
}

/* Menu icon */
.menu {
  display: inline-block;
  cursor: pointer;
  padding: 10px 0;
  position: relative;

  div {
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    background-color: var(--white-text-color);
    position: relative;
    @include transition(all 0.4s ease);

    @media #{$mq-small} {
      width: 35px;
    }

    &:last-child {
      width: 13px;
      margin-left: auto;

      @media #{$mq-small} {
        width: 22px;
      }
    }
  }

  &:hover div {
    &.line_1 {
      width: 20px;
      @include transform('translateY(6px) rotate(90deg)');

      @media #{$mq-small} {
        width: 30px;
      }
    }

    &.line_2 {
      width: 20px;

      @media #{$mq-small} {
        width: 30px;
      }
    }

    &.line_3 {
      width: 0;
    }
  }
}

.hover_line_1 {
  @include transform('translate(0, 7px) rotate(135deg)');
}

.hover_line_2 {
  width: 20px;
  @include transform('rotate(45deg)');

  @media #{$mq-small} {
    width: 30px;
  }
}

.menu:hover {
  .hover_line_1 {
    width: 25px !important;
    @include transform('translate(0, 7px) rotate(135deg) !important');

    @media #{$mq-small} {
      width: 35px !important;
    }
  }

  .hover_line_2 {
    width: 25px !important;

    @media #{$mq-small} {
      width: 35px !important;
    }
  }
}

main {
  display: flex;
  height: 100%;
  width: 100%;
}

//! HOME

.home_left_section {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media #{$mq-small} {
    width: 50%;
  }

  > div {
    margin: 50vh 1.5rem;
    transform: translateY(-50%);

    @media #{$mq-small} {
      margin: 50vh 0 auto 3rem;
    }
  }
}

.home_right_section {
  width: 50%;
  display: none;
  flex-direction: column;
  position: relative;

  @media #{$mq-small} {
    display: flex;
  }
}

#typewritter_text {
  color: #505050;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Proxima Nova Bl";
  height: 50px;

  @media #{$mq-small} {
    font-size: 1.5rem;
  }
}

.typewritter_underscore {
  width: 0.8rem;
  height: 2px;
  background: var(--seconday-color);
  margin-top: 1.5rem;
  margin-left: 3px;

  @include transition(all 0.3s);
  @include animation('800ms cursorEffect infinite');

  @media #{$mq-small} {
    margin-top: 1.8rem;
    width: 1rem;
  }
}

.home_presentation {
  font-family: "Domaine Display Narrow Black";
  font-size: 2.5rem;
  color: var(--white-text-color);
  line-height: 3rem;
  margin: 0;
}

.home_description {
  font-weight: 100;
  font-size: 1rem;
  color: var(--white-text-color);
  font-family: "Proxima Nova Th";
  margin-bottom: 0.5rem;
}

.main_link {
  font-family: "Proxima Nova Rg";
  font-weight: 700;
  color: var(--seconday-color);
  font-size: 1rem;
  cursor: pointer;

  > i {
    vertical-align: middle;
    width: 25px;
    text-align: center;
  }

  &:hover i {
    @include animation('500ms hover_arrow infinite alternate');
  }
}

.home_parallax {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.div_element_parallax {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  display: flex;

  &:nth-child(1) .img_element_parallax {
    background: no-repeat url("/images/parallax/element (1).svg");
    position: relative;
    width: inherit;
    height: 50%;
    background-position: center;
    margin-top: 50vh;
    @include transform('translateY(-50%)');
  }

  &:nth-child(2) .img_element_parallax {
    background: no-repeat url("/images/parallax/element (2).svg");
    position: relative;
    width: inherit;
    height: 50%;
    background-position: center;
    margin-top: 50vh;
    @include transform('translateY(-50%)');
  }

  &:nth-child(3) .img_element_parallax {
    background: no-repeat url("/images/parallax/element (3).svg");
    position: relative;
    width: inherit;
    height: 50%;
    background-position: center;
    margin-top: 50vh;
    @include transform('translateY(-50%)');
  }

  &:nth-child(4) .img_element_parallax {
    background: no-repeat url("/images/parallax/character.svg");
    position: relative;
    width: 60%;
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 50vh auto 0;
    @include transform('translateY(-50%)');
  }

  &:nth-child(5) .img_element_parallax {
    background: no-repeat url("/images/parallax/element (4).svg");
    position: relative;
    width: inherit;
    height: 8%;
    background-position: center;
    margin-top: 50vh;
    top: 20%;
    left: -10%;
    @include transform('translateY(-50%)');
  }
}

//! ABOUT

.about_content_description {
  margin: 0rem 3rem;

  @media #{$mq-medium} {
    display: flex;
  }
}

.about_content_description:first-child {
  margin: 12rem 3rem 0;
}

.about_title {
  text-transform: uppercase;
  font-family: "Domaine Display Narrow Black";
  font-size: 3rem;
  color: var(--white-text-color);
}

.about_left_section {
  width: 20rem;
}

.about_right_section {
  width: 100%;
  color: #8b8b8b;
  font-size: 1rem;
  font-family: "Proxima Nova Rg";
  font-weight: 200;
  margin-top: 0.8rem;

  @media #{$mq-medium} {
    width: 65%;
  }

  > p {
    width: 65%;

    @media #{$mq-xsmall} {
      width: 100%;
    }

    @media #{$mq-medium} {
      width: 100%;
    }
  }

  h3 {
    color: var(--white-text-color);
    font-family: "Domaine Display Narrow Black";
    font-size: 1.2rem;
    margin: 0;

    i {
      width: 1.5rem;
    }
  }
}

.about_description_text {
  font-size: 0.8rem;
}

.about_grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  @media #{$mq-xsmall} {
    display: block;

    > div:not(:first-child) {
      margin-top: 1.5rem;
    }
  }
}

.about_grid1 {
  grid-area: 1 / 1 / 3 / 2;
}
.about_grid2 {
  grid-area: 1 / 3 / 3 / 4;
}
.about_grid3 {
  grid-area: 1 / 2 / 3 / 3;
}
.about_grid4 {
  grid-area: 3 / 3 / 5 / 4;
}
.about_grid5 {
  grid-area: 3 / 2 / 5 / 3;
}
.about_grid6 {
  grid-area: 3 / 1 / 5 / 2;
}

.about_content_parcours {
  overflow: hidden;
}

.about_content_parcours > div {
  position: relative;
}

#horizontal_container {
  height: 100vh;
  padding-bottom: 0;
  width: 500vw;

  @media #{$mq-small} {
    width: 365vw;
  }
}

#horizontal_container > .horizontal_container_content {
  position: absolute;
  top: calc(50% + 3rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  @include transform('translateY(-50%)');
}

.horizontal_container_title {
  position: absolute;
  text-transform: uppercase;
  font-family: "Domaine Display Narrow Black";
  font-size: 3rem;
  color: var(--white-text-color);
  margin: 6rem 0 0 3rem;
  left: 0;
}

.line_progress_parcours {
  position: absolute;
  left: calc(50vw - 0.5rem);
  top: 50%;
  width: 400vw;

  @media #{$mq-small} {
    width: 265vw;
  }

  > .entire_line {
    height: 4px;
    background-color: #8c8c8c;
    @include borderRadius('0.5rem');
  }

  > #complete_line {
    margin-top: -4px;
    background-color: var(--white-text-color);
    width: 0;
    height: 4px;
    position: absolute;
    @include borderRadius('0.5rem');
    @include transition(width 0.2s cubic-bezier(0, 1.01, 0.58, 1));
  }
}

.horizontal_container_bg_text {
  font-family: "Domaine Display Narrow Black";
  font-size: 10rem;
  letter-spacing: 2rem;
  position: relative;
  margin: 0 auto;
  height: 100%;
  text-transform: uppercase;
  color: #ffffff0a;

  @media #{$mq-xsmall} {
    opacity: 0;
  }
}

.horizontal_container_carreer {
  display: flex;
  position: absolute;
}

.progress_step {
  width: 15rem;
  position: absolute;
  margin-top: 1.8rem;
  @media #{$mq-small} {
    width: 20rem;
  }

  @media #{$mq-medium} {
    margin-top: 2.5rem !important;
  }

  .step_title {
    color: var(--white-text-color);
    font-family: "Domaine Display Narrow Black";
    font-size: 1.5rem;

    > span {
      color: #8b8b8b;
      font-family: "Domaine Display Narrow Semibold";
      font-size: 1rem;
    }
  }

  .step_description {
    font-size: 0.8rem;
    color: #8b8b8b;
    font-family: "Proxima Nova Rg";
    font-weight: 200;
  }

  .step_year {
    font-size: 0.9rem;
    color: #8b8b8b;
    font-family: "Proxima Nova Bl";
    font-weight: 800;
  }

  &:nth-child(1) {
    left: 35vw;
  }

  &:nth-child(2) {
    left: 125vw;
    margin-top: -.5rem;

    @media #{$mq-small} {
      left: 100vw;
      margin-top: 1.8rem;
    }
  }

  &:nth-child(3) {
    left: 200vw;

    @media #{$mq-small} {
      left: 150vw;
    }
  }

  &:nth-child(4) {
    left: 275vw;

    @media #{$mq-small} {
      left: 200vw;
    }
  }

  &:nth-child(5) {
    left: 350vw;


    @media #{$mq-small} {
      left: 250vw;
    }
  }

  &:nth-child(6) {
    left: 425vw;
    margin-top: -.5rem;

    @media #{$mq-small} {
      left: 300vw;
      margin-top: 1.8rem;
    }
  }
}

.about_content_hobbies {
  height: 100vh;
  position: relative;

  > .about_title {
    margin: 6rem 3rem 0;
  }

  > div:not(:first-child) {
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

$hobbiesBannerHeight: 12rem;

.hobbies_banner {
  height: $hobbiesBannerHeight;
  margin-top: calc(-#{$hobbiesBannerHeight} /2);
  width: 100%;
  padding: 4rem 1rem;
  background-color: var(--banner-color);
  box-shadow: 0 0 50px 10px var(--banner-shadow-color), 0 0 50px var(--banner-shadow-color);
  display: flex;
  justify-content: space-evenly;
}

.hobby_wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: var(--white-text-color);

  > i.fad {
    text-align: center;
  }

  > p {
    font-size: 1rem;
    font-family: "Proxima Nova Bl";
    font-weight: 200;
    text-align: center;
    margin-top: 1rem;
  }
}

$projectTextSize: 1.2rem;

.project_section {
  height: 100vh;

  div:first-child {
    width: 11rem;
    margin: auto auto;

    @media #{$mq-small} {
      width: 25rem;
    }

    @media #{$mq-xsmall} {
      margin: auto 2rem;
    }
  }

  div:first-child > p {
    font-family: "Proxima Nova Bl";
    color: var(--white-text-color);
    font-weight: 700;
    font-size: #{$projectTextSize};

    @media #{$mq-small} {
      left: 300vw;
      margin-top: 1.8rem;
    }
  }

  .main_link {
    position: absolute;
    font-family: "Proxima Nova Bl";
    font-size: #{$projectTextSize};
    color: var(--white-text-color);

    > i {
      vertical-align: text-bottom;
      font-size: #{$projectTextSize};
      color: var(--seconday-color);
    }
  }
}

.mark {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80%, var(--seconday-color) 90%);
}

//! Contact

.contact_content {
  height: 100vh;
  width: 100%;
  padding: 8rem 2rem 0;

  @media #{$mq-small} {
    padding: 8rem 6rem 0;
  }
}

.contact_information {
  > p {
    @extend .about_title;
    font-size: 2.5rem;

    @media #{$mq-small} {
      font-size: 3rem;
    }
  }
}

.contact_information_wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-width: 40rem;

  > div {
    min-width: 17rem;
    width: 50%;
  }

  h3 {
    font-family: "Proxima Nova Rg";
    color: #7d7b80;
    font-size: .9rem;
    font-weight: 100;
    text-transform: uppercase;
  }

  a {
    font-family: "Proxima Nova Bl";
    color: var(--white-text-color);
    font-size: 1.4rem;
  }
}

.form_contact {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    justify-content: space-between;

    > .form_contact_input {
      font-family: "Proxima Nova Rg";
      color: #7d7b80;
      font-size: 1rem;
      width: 48%;
    }
  }

  > .form_contact_input {
    font-family: "Proxima Nova Rg";
    color: #7d7b80;
    font-size: 1rem;
    width: 100%;
    max-width: 40rem;
  }
}


.form_contact_input {
  background-color: transparent;
  border-bottom: var(--white-text-color) solid 1px !important;
  margin-top: 20px;
  outline: none;
  appearance: none;
  height: 50px;
  color: var(--white-text-color);
  border: none;
  caret-color: var(--white-text-color);
}

.form_contact_submit_button {
  margin-top: 20px;
  border: none;
  background-color: transparent;
  font-family: "Proxima Nova Bl";
  color: #CCCCCC;
  font-size: 22px;
  width: fit-content;
  align-self: flex-end;
  cursor: pointer;
}

//! Succes form

.success_form_content {
  height: 100vh;
  width: 100%;
  display: flex;

  > .succes_card {
    margin: auto;
    width: 20rem;
    height: 10rem;

    > .card_header > p {
      font-family: "Domaine Display Narrow Extrabold";
      font-size: 3rem;
      color: var(--white-text-color);
      font-weight: 700;
    }

    > .card_body > p {
      @extend .home_description;
    }
  }
}