@font-face {
  font-family: "Proxima Nova Bl";
  src: url("ProximaNova-Black.eot");
  src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("fonts/ProximaNova-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Th";
  src: url("ProximaNova-Extrabld.eot");
  src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("fonts/ProximaNova-Extrabld.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("ProximaNova-SemiboldIt.eot");
  src: local("Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"), url("fonts/ProximaNova-SemiboldIt.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova Th";
  src: url("ProximaNovaT-Thin.eot");
  src: local("Proxima Nova Thin"), local("ProximaNovaT-Thin"), url("fonts/ProximaNovaT-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("ProximaNova-Light.eot");
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Bl";
  src: url("ProximaNova-BlackIt.eot");
  src: local("Proxima Nova Black Italic"), local("ProximaNova-BlackIt"), url("fonts/ProximaNova-BlackIt.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("ProximaNova-BoldIt.eot");
  src: local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"), url("fonts/ProximaNova-BoldIt.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova Th";
  src: url("ProximaNova-ThinIt.eot");
  src: local("Proxima Nova Thin Italic"), local("ProximaNova-ThinIt"), url("fonts/ProximaNova-ThinIt.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("ProximaNova-RegularIt.eot");
  src: local("Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"), url("fonts/ProximaNova-RegularIt.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova Th";
  src: url("ProximaNova-ExtrabldIt.eot");
  src: local("Proxima Nova Extrabold Italic"), local("ProximaNova-ExtrabldIt"), url("fonts/ProximaNova-ExtrabldIt.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("ProximaNova-LightIt.eot");
  src: local("Proxima Nova Light Italic"), local("ProximaNova-LightIt"), url("fonts/ProximaNova-LightIt.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Domaine Display Narrow Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Domaine Display Narrow Regular"), url("DomaineDispNar-Regular.woff") format("woff");
}
@font-face {
  font-family: "Domaine Display Narrow Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Domaine Display Narrow Regular Italic"), url("DomaineDispNar-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: "Domaine Display Narrow Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Domaine Display Narrow Medium"), url("DomaineDispNar-Medium.woff") format("woff");
}
@font-face {
  font-family: "Domaine Display Narrow Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Domaine Display Narrow Medium Italic"), url("DomaineDispNar-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Domaine Display Narrow Semibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Domaine Display Narrow Semibold Italic"), url("DomaineDispNar-SemiboldItalic.woff") format("woff");
}
@font-face {
  font-family: "Domaine Display Narrow Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Domaine Display Narrow Bold"), url("DomaineDispNar-Bold.woff") format("woff");
}
@font-face {
  font-family: "Domaine Display Narrow Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Domaine Display Narrow Bold Italic"), url("DomaineDispNar-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Domaine Display Narrow Extrabold";
  font-style: normal;
  font-weight: normal;
  src: local("Domaine Display Narrow Extrabold"), url("DomaineDispNar-Extrabold.woff") format("woff");
}
@font-face {
  font-family: "Domaine Display Narrow Extrabold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Domaine Display Narrow Extrabold Italic"), url("DomaineDispNar-ExtraboldItalic.woff") format("woff");
}
@font-face {
  font-family: "Domaine Display Narrow Black";
  font-style: normal;
  font-weight: normal;
  src: local("Domaine Display Narrow Black"), url("fonts/DomaineDispNar-Black.woff") format("woff");
}
@font-face {
  font-family: "Domaine Display Narrow Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Domaine Display Narrow Black Italic"), url("DomaineDispNar-BlackItalic.woff") format("woff");
}
@keyframes cursorEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes cursorEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hover_arrow {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 5px;
  }
}
@-webkit-keyframes hover_arrow {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 5px;
  }
}
@keyframes white_line_bg_bolt {
  0% {
    height: 100px;
    left: 12.5%;
    top: -100px;
    opacity: 0;
  }
  2% {
    height: 100px;
    left: 12.5%;
    top: -100px;
    opacity: 1;
  }
  4% {
    height: 100px;
    left: 12.5%;
    top: 100%;
    opacity: 1;
  }
  5% {
    height: 100px;
    left: 12.5%;
    top: 100%;
    opacity: 0;
  }
  6% {
    height: 200px;
    left: 37.5%;
    top: -200px;
    opacity: 0;
  }
  12% {
    height: 200px;
    left: 37.5%;
    top: -200px;
    opacity: 1;
  }
  13% {
    height: 200px;
    left: 37.5%;
    top: 100%;
    opacity: 1;
  }
  14% {
    height: 200px;
    left: 37.5%;
    top: 100%;
    opacity: 0;
  }
  15% {
    height: 100px;
    left: 87.5%;
    top: -100px;
    opacity: 0;
  }
  25% {
    height: 100px;
    left: 87.5%;
    top: -100px;
    opacity: 1;
  }
  26% {
    height: 100px;
    left: 87.5%;
    top: 100%;
    opacity: 1;
  }
  27% {
    height: 100px;
    left: 87.5%;
    top: 100%;
    opacity: 0;
  }
  28% {
    height: 200px;
    left: 50%;
    top: -200px;
    opacity: 0;
  }
  45% {
    height: 200px;
    left: 50%;
    top: -200px;
    opacity: 1;
  }
  46% {
    height: 200px;
    left: 50%;
    top: 100%;
    opacity: 1;
  }
  47% {
    height: 200px;
    left: 50%;
    top: 100%;
    opacity: 0;
  }
  48% {
    height: 200px;
    left: 87.5%;
    top: -200vh;
    opacity: 0;
  }
  62% {
    height: 200px;
    left: 87.5%;
    top: -200px;
    opacity: 1;
  }
  63% {
    height: 200px;
    left: 87.5%;
    top: 100%;
    opacity: 1;
  }
  64% {
    height: 200px;
    left: 87.5%;
    top: 100%;
    opacity: 0;
  }
  65% {
    height: 100px;
    left: 37.5%;
    top: -100px;
    opacity: 0;
  }
  80% {
    height: 100px;
    left: 37.5%;
    top: -100px;
    opacity: 1;
  }
  81% {
    height: 100px;
    left: 37.5%;
    top: 100%;
    opacity: 1;
  }
  82% {
    height: 100px;
    left: 37.5%;
    top: 100%;
    opacity: 0;
  }
  83% {
    height: 200px;
    left: 12.5%;
    top: -200px;
    opacity: 0;
  }
  90% {
    height: 200px;
    left: 12.5%;
    top: -200px;
    opacity: 1;
  }
  91% {
    height: 200px;
    left: 12.5%;
    top: 100%;
    opacity: 1;
  }
  92% {
    height: 200px;
    left: 12.5%;
    top: 100%;
    opacity: 0;
  }
  93% {
    height: 100px;
    left: 50%;
    top: -100px;
    opacity: 0;
  }
  94% {
    height: 100px;
    left: 50%;
    top: -100px;
    opacity: 1;
  }
  95% {
    height: 100px;
    left: 50%;
    top: 100%;
    opacity: 1;
  }
  to {
    height: 100px;
    left: 50%;
    top: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes white_line_bg_bolt {
  0% {
    height: 100px;
    left: 12.5%;
    top: -100px;
    opacity: 0;
  }
  2% {
    height: 100px;
    left: 12.5%;
    top: -100px;
    opacity: 1;
  }
  4% {
    height: 100px;
    left: 12.5%;
    top: 100%;
    opacity: 1;
  }
  5% {
    height: 100px;
    left: 12.5%;
    top: 100%;
    opacity: 0;
  }
  6% {
    height: 200px;
    left: 37.5%;
    top: -200px;
    opacity: 0;
  }
  12% {
    height: 200px;
    left: 37.5%;
    top: -200px;
    opacity: 1;
  }
  13% {
    height: 200px;
    left: 37.5%;
    top: 100%;
    opacity: 1;
  }
  14% {
    height: 200px;
    left: 37.5%;
    top: 100%;
    opacity: 0;
  }
  15% {
    height: 100px;
    left: 87.5%;
    top: -100px;
    opacity: 0;
  }
  25% {
    height: 100px;
    left: 87.5%;
    top: -100px;
    opacity: 1;
  }
  26% {
    height: 100px;
    left: 87.5%;
    top: 100%;
    opacity: 1;
  }
  27% {
    height: 100px;
    left: 87.5%;
    top: 100%;
    opacity: 0;
  }
  28% {
    height: 200px;
    left: 50%;
    top: -200px;
    opacity: 0;
  }
  45% {
    height: 200px;
    left: 50%;
    top: -200px;
    opacity: 1;
  }
  46% {
    height: 200px;
    left: 50%;
    top: 100%;
    opacity: 1;
  }
  47% {
    height: 200px;
    left: 50%;
    top: 100%;
    opacity: 0;
  }
  48% {
    height: 200px;
    left: 87.5%;
    top: -200vh;
    opacity: 0;
  }
  62% {
    height: 200px;
    left: 87.5%;
    top: -200px;
    opacity: 1;
  }
  63% {
    height: 200px;
    left: 87.5%;
    top: 100%;
    opacity: 1;
  }
  64% {
    height: 200px;
    left: 87.5%;
    top: 100%;
    opacity: 0;
  }
  65% {
    height: 100px;
    left: 37.5%;
    top: -100px;
    opacity: 0;
  }
  80% {
    height: 100px;
    left: 37.5%;
    top: -100px;
    opacity: 1;
  }
  81% {
    height: 100px;
    left: 37.5%;
    top: 100%;
    opacity: 1;
  }
  82% {
    height: 100px;
    left: 37.5%;
    top: 100%;
    opacity: 0;
  }
  83% {
    height: 200px;
    left: 12.5%;
    top: -200px;
    opacity: 0;
  }
  90% {
    height: 200px;
    left: 12.5%;
    top: -200px;
    opacity: 1;
  }
  91% {
    height: 200px;
    left: 12.5%;
    top: 100%;
    opacity: 1;
  }
  92% {
    height: 200px;
    left: 12.5%;
    top: 100%;
    opacity: 0;
  }
  93% {
    height: 100px;
    left: 50%;
    top: -100px;
    opacity: 0;
  }
  94% {
    height: 100px;
    left: 50%;
    top: -100px;
    opacity: 1;
  }
  95% {
    height: 100px;
    left: 50%;
    top: 100%;
    opacity: 1;
  }
  to {
    height: 100px;
    left: 50%;
    top: 100%;
    opacity: 0;
  }
}
/* Breakpoints */
/* Media Queries */
/* Font-Size */
/* Line-Height */
/* Variables */
:root {
  --main-color: #171717;
  --seconday-color: #5ae1b4;
  --white-text-color: #dcdcdc;
  --bg-text-menu: #242424b8;
  --banner-color: #111;
  --banner-shadow-color: #0000006e;
}

/* General */
* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: var(--main-color);
  margin: 0;
  position: relative;
  font-size: 1em;
  line-height: 1.5;
  -webkit-transition: all, 200ms, ease-in-out;
  -moz-transition: all, 200ms, ease-in-out;
  -ms-transition: all, 200ms, ease-in-out;
  -o-transition: all, 200ms, ease-in-out;
  transition: all, 200ms, ease-in-out;
  transition-property: color, background-color;
}
@media (min-width: 64rem) {
  body,
html {
    font-size: 1.2em;
    line-height: 1.8;
  }
}
@media (min-width: 85.375rem) {
  body,
html {
    font-size: 1.3em;
  }
}
@media (min-width: 120rem) {
  body,
html {
    font-size: 1.4em;
  }
}
@media (min-width: 160rem) {
  body,
html {
    font-size: 1.6em;
  }
}

.d_none {
  display: none !important;
}

.d_flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.myx_auto {
  margin: auto;
}

.h-fit {
  height: fit-content;
}

.overflow_hidden {
  overflow: hidden;
}

/* Background */
.bg_section {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: hidden;
}

.bg_white_vertical_line {
  position: absolute;
  top: -100px;
  width: 1px;
  height: 100px;
  background-color: #969696;
  -webkit-animation: 30s white_line_bg_bolt linear infinite forwards;
  -moz-animation: 30s white_line_bg_bolt linear infinite forwards;
  -ms-animation: 30s white_line_bg_bolt linear infinite forwards;
  -o-animation: 30s white_line_bg_bolt linear infinite forwards;
  animation: 30s white_line_bg_bolt linear infinite forwards;
}
.bg_white_vertical_line.about {
  -webkit-animation: 120s, white_line_bg_bolt, linear, forwards, infinite;
  -moz-animation: 120s, white_line_bg_bolt, linear, forwards, infinite;
  -ms-animation: 120s, white_line_bg_bolt, linear, forwards, infinite;
  -o-animation: 120s, white_line_bg_bolt, linear, forwards, infinite;
  animation: 120s, white_line_bg_bolt, linear, forwards, infinite;
}

.bg_vertical_line {
  width: 12.5%;
  height: 100%;
  border-right: solid 0.5px #53535333;
}

/* Background menu */
#bg_menu {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: var(--main-color);
  z-index: 1;
}
@media (min-width: 48rem) {
  #bg_menu {
    flex-direction: row;
  }
}

.bg_menu_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bg_menu_text p {
  font-family: "Domaine Display Narrow Black";
  text-transform: uppercase;
  color: var(--bg-text-menu);
  font-size: 20vw;
  letter-spacing: 0.2em;
  -webkit-transform: translateX(0.08em);
  -moz-transform: translateX(0.08em);
  -ms-transform: translateX(0.08em);
  -o-transform: translateX(0.08em);
  transform: translateX(0.08em);
}
@media (min-width: 48rem) {
  .bg_menu_text p {
    font-size: 14rem;
  }
}

.bg_link_option {
  display: inline;
  font-family: "Proxima Nova Bl";
  font-size: 1.5em;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  overflow: hidden;
  background-image: linear-gradient(to right, white, white 50%, #7d7b80 50%);
  background-size: 200% 100%;
  background-position: 100%;
  text-align: center;
}
.bg_link_option:hover {
  white-space: nowrap;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  -moz-transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  -ms-transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  -o-transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}
.bg_link_option::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  top: 50%;
  margin-top: 0;
  right: 1px;
  background: var(--seconday-color);
  -webkit-transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -ms-transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.bg_link_option:hover::after {
  -webkit-transform: translate3d(110%, 0, 0);
  -moz-transform: translate3d(110%, 0, 0);
  -ms-transform: translate3d(110%, 0, 0);
  -o-transform: translate3d(110%, 0, 0);
  transform: translate3d(110%, 0, 0);
}
.bg_link_option:hover::before {
  width: 100%;
}

.vertical_divider {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 25%;
  line-height: 25vh;
  border-bottom: solid 0.5px #535353;
}
@media (min-width: 48rem) {
  .vertical_divider {
    width: 25%;
    height: 100%;
    border-right: solid 0.5px #535353;
    line-height: 100vh;
    border-bottom: none;
  }
}

.vertical_divider:last-of-type {
  border-bottom: none !important;
}
@media (min-width: 48rem) {
  .vertical_divider:last-of-type {
    border-right: none !important;
  }
}

.active_hover_about {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
@media (min-width: 48rem) {
  .active_hover_about {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.active_hover_projects {
  -webkit-transform: translate3d(0, 200%, 0);
  -moz-transform: translate3d(0, 200%, 0);
  -ms-transform: translate3d(0, 200%, 0);
  -o-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}
@media (min-width: 48rem) {
  .active_hover_projects {
    -webkit-transform: translate3d(200%, 0, 0);
    -moz-transform: translate3d(200%, 0, 0);
    -ms-transform: translate3d(200%, 0, 0);
    -o-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
  }
}

.active_hover_contact {
  -webkit-transform: translate3d(0, 300%, 0);
  -moz-transform: translate3d(0, 300%, 0);
  -ms-transform: translate3d(0, 300%, 0);
  -o-transform: translate3d(0, 300%, 0);
  transform: translate3d(0, 300%, 0);
}
@media (min-width: 48rem) {
  .active_hover_contact {
    -webkit-transform: translate3d(300%, 0, 0);
    -moz-transform: translate3d(300%, 0, 0);
    -ms-transform: translate3d(300%, 0, 0);
    -o-transform: translate3d(300%, 0, 0);
    transform: translate3d(300%, 0, 0);
  }
}

.bg_option_selected {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

#bg_menu_selected {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 25%;
  margin: 0 0 0;
  background: var(--banner-color);
  box-shadow: 0 0 50px 10px var(--banner-shadow-color), 0 0 50px var(--banner-shadow-color);
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
@media (min-width: 48rem) {
  #bg_menu_selected {
    width: 25%;
    height: 100%;
  }
}

/* Background menu transition */
#transition_menu {
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.transition_color {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  bottom: auto;
  background: var(--seconday-color);
  z-index: 2;
  -webkit-transition: 0.9s all 0s cubic-bezier(0.6, 0.05, 0.4, 1);
  -moz-transition: 0.9s all 0s cubic-bezier(0.6, 0.05, 0.4, 1);
  -ms-transition: 0.9s all 0s cubic-bezier(0.6, 0.05, 0.4, 1);
  -o-transition: 0.9s all 0s cubic-bezier(0.6, 0.05, 0.4, 1);
  transition: 0.9s all 0s cubic-bezier(0.6, 0.05, 0.4, 1);
}
.transition_color.active {
  right: 100%;
}

.transition_color_2 {
  z-index: 2;
  background: #222222;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* Content */
.content {
  max-width: 85.375rem;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  position: fixed;
  width: 100%;
  max-width: 85.375rem;
  height: 6rem;
  z-index: 4;
}
.header > div {
  margin: auto 3rem;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header a {
  margin: auto 0;
}
.header a > .logo {
  width: 40px;
}
@media (min-width: 48rem) {
  .header a > .logo {
    width: 50px;
  }
}

/* Menu icon */
.menu {
  display: inline-block;
  cursor: pointer;
  padding: 10px 0;
  position: relative;
}
.menu div {
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  background-color: var(--white-text-color);
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (min-width: 48rem) {
  .menu div {
    width: 35px;
  }
}
.menu div:last-child {
  width: 13px;
  margin-left: auto;
}
@media (min-width: 48rem) {
  .menu div:last-child {
    width: 22px;
  }
}
.menu:hover div.line_1 {
  width: 20px;
  -webkit-transform: translateY(6px) rotate(90deg);
  -moz-transform: translateY(6px) rotate(90deg);
  -ms-transform: translateY(6px) rotate(90deg);
  -o-transform: translateY(6px) rotate(90deg);
  transform: translateY(6px) rotate(90deg);
}
@media (min-width: 48rem) {
  .menu:hover div.line_1 {
    width: 30px;
  }
}
.menu:hover div.line_2 {
  width: 20px;
}
@media (min-width: 48rem) {
  .menu:hover div.line_2 {
    width: 30px;
  }
}
.menu:hover div.line_3 {
  width: 0;
}

.hover_line_1 {
  -webkit-transform: translate(0, 7px) rotate(135deg);
  -moz-transform: translate(0, 7px) rotate(135deg);
  -ms-transform: translate(0, 7px) rotate(135deg);
  -o-transform: translate(0, 7px) rotate(135deg);
  transform: translate(0, 7px) rotate(135deg);
}

.hover_line_2 {
  width: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (min-width: 48rem) {
  .hover_line_2 {
    width: 30px;
  }
}

.menu:hover .hover_line_1 {
  width: 25px !important;
  -webkit-transform: translate(0, 7px) rotate(135deg) !important;
  -moz-transform: translate(0, 7px) rotate(135deg) !important;
  -ms-transform: translate(0, 7px) rotate(135deg) !important;
  -o-transform: translate(0, 7px) rotate(135deg) !important;
  transform: translate(0, 7px) rotate(135deg) !important;
}
@media (min-width: 48rem) {
  .menu:hover .hover_line_1 {
    width: 35px !important;
  }
}
.menu:hover .hover_line_2 {
  width: 25px !important;
}
@media (min-width: 48rem) {
  .menu:hover .hover_line_2 {
    width: 35px !important;
  }
}

main {
  display: flex;
  height: 100%;
  width: 100%;
}

.home_left_section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .home_left_section {
    width: 50%;
  }
}
.home_left_section > div {
  margin: 50vh 1.5rem;
  transform: translateY(-50%);
}
@media (min-width: 48rem) {
  .home_left_section > div {
    margin: 50vh 0 auto 3rem;
  }
}

.home_right_section {
  width: 50%;
  display: none;
  flex-direction: column;
  position: relative;
}
@media (min-width: 48rem) {
  .home_right_section {
    display: flex;
  }
}

#typewritter_text {
  color: #505050;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Proxima Nova Bl";
  height: 50px;
}
@media (min-width: 48rem) {
  #typewritter_text {
    font-size: 1.5rem;
  }
}

.typewritter_underscore {
  width: 0.8rem;
  height: 2px;
  background: var(--seconday-color);
  margin-top: 1.5rem;
  margin-left: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation: 800ms cursorEffect infinite;
  -moz-animation: 800ms cursorEffect infinite;
  -ms-animation: 800ms cursorEffect infinite;
  -o-animation: 800ms cursorEffect infinite;
  animation: 800ms cursorEffect infinite;
}
@media (min-width: 48rem) {
  .typewritter_underscore {
    margin-top: 1.8rem;
    width: 1rem;
  }
}

.home_presentation {
  font-family: "Domaine Display Narrow Black";
  font-size: 2.5rem;
  color: var(--white-text-color);
  line-height: 3rem;
  margin: 0;
}

.home_description, .success_form_content > .succes_card > .card_body > p {
  font-weight: 100;
  font-size: 1rem;
  color: var(--white-text-color);
  font-family: "Proxima Nova Th";
  margin-bottom: 0.5rem;
}

.main_link {
  font-family: "Proxima Nova Rg";
  font-weight: 700;
  color: var(--seconday-color);
  font-size: 1rem;
  cursor: pointer;
}
.main_link > i {
  vertical-align: middle;
  width: 25px;
  text-align: center;
}
.main_link:hover i {
  -webkit-animation: 500ms hover_arrow infinite alternate;
  -moz-animation: 500ms hover_arrow infinite alternate;
  -ms-animation: 500ms hover_arrow infinite alternate;
  -o-animation: 500ms hover_arrow infinite alternate;
  animation: 500ms hover_arrow infinite alternate;
}

.home_parallax {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.div_element_parallax {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  display: flex;
}
.div_element_parallax:nth-child(1) .img_element_parallax {
  background: no-repeat url("/images/parallax/element (1).svg");
  position: relative;
  width: inherit;
  height: 50%;
  background-position: center;
  margin-top: 50vh;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.div_element_parallax:nth-child(2) .img_element_parallax {
  background: no-repeat url("/images/parallax/element (2).svg");
  position: relative;
  width: inherit;
  height: 50%;
  background-position: center;
  margin-top: 50vh;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.div_element_parallax:nth-child(3) .img_element_parallax {
  background: no-repeat url("/images/parallax/element (3).svg");
  position: relative;
  width: inherit;
  height: 50%;
  background-position: center;
  margin-top: 50vh;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.div_element_parallax:nth-child(4) .img_element_parallax {
  background: no-repeat url("/images/parallax/character.svg");
  position: relative;
  width: 60%;
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 50vh auto 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.div_element_parallax:nth-child(5) .img_element_parallax {
  background: no-repeat url("/images/parallax/element (4).svg");
  position: relative;
  width: inherit;
  height: 8%;
  background-position: center;
  margin-top: 50vh;
  top: 20%;
  left: -10%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.about_content_description {
  margin: 0rem 3rem;
}
@media (min-width: 64rem) {
  .about_content_description {
    display: flex;
  }
}

.about_content_description:first-child {
  margin: 12rem 3rem 0;
}

.about_title, .contact_information > p {
  text-transform: uppercase;
  font-family: "Domaine Display Narrow Black";
  font-size: 3rem;
  color: var(--white-text-color);
}

.about_left_section {
  width: 20rem;
}

.about_right_section {
  width: 100%;
  color: #8b8b8b;
  font-size: 1rem;
  font-family: "Proxima Nova Rg";
  font-weight: 200;
  margin-top: 0.8rem;
}
@media (min-width: 64rem) {
  .about_right_section {
    width: 65%;
  }
}
.about_right_section > p {
  width: 65%;
}
@media (max-width: 36rem) {
  .about_right_section > p {
    width: 100%;
  }
}
@media (min-width: 64rem) {
  .about_right_section > p {
    width: 100%;
  }
}
.about_right_section h3 {
  color: var(--white-text-color);
  font-family: "Domaine Display Narrow Black";
  font-size: 1.2rem;
  margin: 0;
}
.about_right_section h3 i {
  width: 1.5rem;
}

.about_description_text {
  font-size: 0.8rem;
}

.about_grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
@media (max-width: 36rem) {
  .about_grid {
    display: block;
  }
  .about_grid > div:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.about_grid1 {
  grid-area: 1/1/3/2;
}

.about_grid2 {
  grid-area: 1/3/3/4;
}

.about_grid3 {
  grid-area: 1/2/3/3;
}

.about_grid4 {
  grid-area: 3/3/5/4;
}

.about_grid5 {
  grid-area: 3/2/5/3;
}

.about_grid6 {
  grid-area: 3/1/5/2;
}

.about_content_parcours {
  overflow: hidden;
}

.about_content_parcours > div {
  position: relative;
}

#horizontal_container {
  height: 100vh;
  padding-bottom: 0;
  width: 500vw;
}
@media (min-width: 48rem) {
  #horizontal_container {
    width: 365vw;
  }
}

#horizontal_container > .horizontal_container_content {
  position: absolute;
  top: calc(50% + 3rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal_container_title {
  position: absolute;
  text-transform: uppercase;
  font-family: "Domaine Display Narrow Black";
  font-size: 3rem;
  color: var(--white-text-color);
  margin: 6rem 0 0 3rem;
  left: 0;
}

.line_progress_parcours {
  position: absolute;
  left: calc(50vw - 0.5rem);
  top: 50%;
  width: 400vw;
}
@media (min-width: 48rem) {
  .line_progress_parcours {
    width: 265vw;
  }
}
.line_progress_parcours > .entire_line {
  height: 4px;
  background-color: #8c8c8c;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.line_progress_parcours > #complete_line {
  margin-top: -4px;
  background-color: var(--white-text-color);
  width: 0;
  height: 4px;
  position: absolute;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: width 0.2s cubic-bezier(0, 1.01, 0.58, 1);
  -moz-transition: width 0.2s cubic-bezier(0, 1.01, 0.58, 1);
  -ms-transition: width 0.2s cubic-bezier(0, 1.01, 0.58, 1);
  -o-transition: width 0.2s cubic-bezier(0, 1.01, 0.58, 1);
  transition: width 0.2s cubic-bezier(0, 1.01, 0.58, 1);
}

.horizontal_container_bg_text {
  font-family: "Domaine Display Narrow Black";
  font-size: 10rem;
  letter-spacing: 2rem;
  position: relative;
  margin: 0 auto;
  height: 100%;
  text-transform: uppercase;
  color: #ffffff0a;
}
@media (max-width: 36rem) {
  .horizontal_container_bg_text {
    opacity: 0;
  }
}

.horizontal_container_carreer {
  display: flex;
  position: absolute;
}

.progress_step {
  width: 15rem;
  position: absolute;
  margin-top: 1.8rem;
}
@media (min-width: 48rem) {
  .progress_step {
    width: 20rem;
  }
}
@media (min-width: 64rem) {
  .progress_step {
    margin-top: 2.5rem !important;
  }
}
.progress_step .step_title {
  color: var(--white-text-color);
  font-family: "Domaine Display Narrow Black";
  font-size: 1.5rem;
}
.progress_step .step_title > span {
  color: #8b8b8b;
  font-family: "Domaine Display Narrow Semibold";
  font-size: 1rem;
}
.progress_step .step_description {
  font-size: 0.8rem;
  color: #8b8b8b;
  font-family: "Proxima Nova Rg";
  font-weight: 200;
}
.progress_step .step_year {
  font-size: 0.9rem;
  color: #8b8b8b;
  font-family: "Proxima Nova Bl";
  font-weight: 800;
}
.progress_step:nth-child(1) {
  left: 35vw;
}
.progress_step:nth-child(2) {
  left: 125vw;
  margin-top: -0.5rem;
}
@media (min-width: 48rem) {
  .progress_step:nth-child(2) {
    left: 100vw;
    margin-top: 1.8rem;
  }
}
.progress_step:nth-child(3) {
  left: 200vw;
}
@media (min-width: 48rem) {
  .progress_step:nth-child(3) {
    left: 150vw;
  }
}
.progress_step:nth-child(4) {
  left: 275vw;
}
@media (min-width: 48rem) {
  .progress_step:nth-child(4) {
    left: 200vw;
  }
}
.progress_step:nth-child(5) {
  left: 350vw;
}
@media (min-width: 48rem) {
  .progress_step:nth-child(5) {
    left: 250vw;
  }
}
.progress_step:nth-child(6) {
  left: 425vw;
  margin-top: -0.5rem;
}
@media (min-width: 48rem) {
  .progress_step:nth-child(6) {
    left: 300vw;
    margin-top: 1.8rem;
  }
}

.about_content_hobbies {
  height: 100vh;
  position: relative;
}
.about_content_hobbies > .about_title, .contact_information.about_content_hobbies > p {
  margin: 6rem 3rem 0;
}
.about_content_hobbies > div:not(:first-child) {
  display: flex;
  position: absolute;
  top: 50%;
  width: 100%;
}

.hobbies_banner {
  height: 12rem;
  margin-top: calc(-12rem /2);
  width: 100%;
  padding: 4rem 1rem;
  background-color: var(--banner-color);
  box-shadow: 0 0 50px 10px var(--banner-shadow-color), 0 0 50px var(--banner-shadow-color);
  display: flex;
  justify-content: space-evenly;
}

.hobby_wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: var(--white-text-color);
}
.hobby_wrapper > i.fad {
  text-align: center;
}
.hobby_wrapper > p {
  font-size: 1rem;
  font-family: "Proxima Nova Bl";
  font-weight: 200;
  text-align: center;
  margin-top: 1rem;
}

.project_section {
  height: 100vh;
}
.project_section div:first-child {
  width: 11rem;
  margin: auto auto;
}
@media (min-width: 48rem) {
  .project_section div:first-child {
    width: 25rem;
  }
}
@media (max-width: 36rem) {
  .project_section div:first-child {
    margin: auto 2rem;
  }
}
.project_section div:first-child > p {
  font-family: "Proxima Nova Bl";
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 1.2rem;
}
@media (min-width: 48rem) {
  .project_section div:first-child > p {
    left: 300vw;
    margin-top: 1.8rem;
  }
}
.project_section .main_link {
  position: absolute;
  font-family: "Proxima Nova Bl";
  font-size: 1.2rem;
  color: var(--white-text-color);
}
.project_section .main_link > i {
  vertical-align: text-bottom;
  font-size: 1.2rem;
  color: var(--seconday-color);
}

.mark {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80%, var(--seconday-color) 90%);
}

.contact_content {
  height: 100vh;
  width: 100%;
  padding: 8rem 2rem 0;
}
@media (min-width: 48rem) {
  .contact_content {
    padding: 8rem 6rem 0;
  }
}

.contact_information > p {
  font-size: 2.5rem;
}
@media (min-width: 48rem) {
  .contact_information > p {
    font-size: 3rem;
  }
}

.contact_information_wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-width: 40rem;
}
.contact_information_wrapper > div {
  min-width: 17rem;
  width: 50%;
}
.contact_information_wrapper h3 {
  font-family: "Proxima Nova Rg";
  color: #7d7b80;
  font-size: 0.9rem;
  font-weight: 100;
  text-transform: uppercase;
}
.contact_information_wrapper a {
  font-family: "Proxima Nova Bl";
  color: var(--white-text-color);
  font-size: 1.4rem;
}

.form_contact {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
}
.form_contact > div {
  display: flex;
  justify-content: space-between;
}
.form_contact > div > .form_contact_input {
  font-family: "Proxima Nova Rg";
  color: #7d7b80;
  font-size: 1rem;
  width: 48%;
}
.form_contact > .form_contact_input {
  font-family: "Proxima Nova Rg";
  color: #7d7b80;
  font-size: 1rem;
  width: 100%;
  max-width: 40rem;
}

.form_contact_input {
  background-color: transparent;
  border-bottom: var(--white-text-color) solid 1px !important;
  margin-top: 20px;
  outline: none;
  appearance: none;
  height: 50px;
  color: var(--white-text-color);
  border: none;
  caret-color: var(--white-text-color);
}

.form_contact_submit_button {
  margin-top: 20px;
  border: none;
  background-color: transparent;
  font-family: "Proxima Nova Bl";
  color: #CCCCCC;
  font-size: 22px;
  width: fit-content;
  align-self: flex-end;
  cursor: pointer;
}

.success_form_content {
  height: 100vh;
  width: 100%;
  display: flex;
}
.success_form_content > .succes_card {
  margin: auto;
  width: 20rem;
  height: 10rem;
}
.success_form_content > .succes_card > .card_header > p {
  font-family: "Domaine Display Narrow Extrabold";
  font-size: 3rem;
  color: var(--white-text-color);
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
